<!DOCTYPE html>
<html>
  <head>
    <title>Book Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= @page_title || "Our Products" %>
    </div>

    <div id="columns">
          <div id="side">
            <div id="cart">
              <%= render @cart %>
            </div>
            <br><br>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="#">Questions</a></li>
              <li><a href="#">News</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Search</a></li>
              <%= button_to 'Login', login_path %>
            </ul>
            <% if session[:user_id] %>
              Hello, <%= User.find_by(id: session[:user_id]).name%>
              <ul>
                <li><%= link_to 'Orders',orders_path %></li>
                <li><%= link_to 'Products', products_path %></li>
                <li><%= link_to 'Users',    users_path    %></li>
              </ul>
              <%= button_to 'Logout', logout_path%>
            <% end %>
        </div>

    <div id="main">
      <%= yield %>
    </div>

  </body>
</html>
